# CONFIG

# Satellite 6 server and admin credentials
export SATELLITE_SERVER="satellite.example.com"
export SATELLITE_USER="admin"
export SATELLITE_PASSWORD="changeme"

# org name, label, and description
export ORG="ACME"
export ORG_LABEL="ACME Corporation"
export ORG_DESCRIPTION="SOE Reference Architecture example org"

# path to subscription manifest
export subscription_manifest_loc="/tmp/manifest.zip"

# per default we're using RHEL7 only for all hosts. optional you can enable RHEL6
# NOTE: this requires a lot of additional disk space for Red Hat and 3rd repos we will sync during soe-prep.sh
export RHEL6_ENABLED=0 


# additional RH repos 2 sync
# we've already defined a comprehensive set of RH repos we're syncing per default as defined inside the function
# please define here only additional RH repositories you want to sync
export additional_rh_repos_to_sync=""

# # per default we're using EPEL7 for some example apps + nagios. optional you can enable EPEL repositories for RHEL 6
# NOTE: this requires a lot of additional disk space for both: Red Hat and 3rd repos we will sync during soe-prep.sh
export EPEL6_ENABLED=0 

# enable if you want to use OpenShift Enterprise 3 as an additional example application (not covered inside this refarch
# but covered in cgoern's refarch TODO (see chapter XYZ)
export OSE3_ENABLED=0

# enable if we want to use puppetforge repository and need to sync it
export PUPPETFORGE_ENABLED=0

# the hostname of git server which holds custom puppet modules
export GIT_HOST="acme-git.example.com"

# the URL to toplevel git repository which contains custom puppet modules
# TODO: we can also ask to provide just the url behind the hostname we've asked above
export CUSTOM_PUPPET_REPO="http://acme-git.example.com/git/puppet-modules"

# the hostname of the custom yum repo server (usually the buildhost)
export BUILD_HOST="acme-buildhost.example.com"

# the URL of custom yum repo
CUSTOM_YUM_REPO="http://buildhost.example.com/repo"

# set to 1 to see the hammer commands as they are executed
export ECHO_COMMANDS=1

